body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

ul,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.contant-container {
  width: 1200px;
  margin: 0 auto;
}

.outer-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (max-width: 786px) {
  .outer-container {
    max-width: 768px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container {
    min-width: 320px;
  }
}

.inner-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1199px) {
  .inner-container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .inner-container {
    max-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .inner-container {
    min-width: 320px;
  }
}

.header .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
}
@media screen and (max-width: 1199px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 333px;
}
@media screen and (max-width: 1199px) {
  .header__right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    max-width: 138px;
  }
}
@media screen and (max-width: 767px) {
  .header__right {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 520px;
}

.logo-link-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  letter-spacing: 0.03em;
  animation: change-color 2s linear infinite;
}
@media screen and (min-width: 768px) {
  .logo-link-header {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
.logo-link-header__web {
  color: #2196f3;
  animation: changecolor 2s linear infinite;
}

.studio {
  animation: ChangeColor 2s linear infinite;
}

@keyframes ChangeColor {
  0% {
    color: #2196f3;
  }
  100% {
    color: #212121;
  }
}
@keyframes change-color {
  0% {
    color: #2196f3;
  }
  100% {
    color: #212121;
  }
}
@keyframes changecolor {
  0% {
    color: #212121;
  }
  100% {
    color: #2196f3;
  }
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 281px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
.nav-list__link {
  color: #212121;
  position: relative;
}
.nav-list__link::after {
  content: "";
  position: absolute;
  top: 52.5px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}
.nav-list__link:hover::after {
  width: 100%;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #2196F3;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.28px;
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .contacts-link {
    font-size: 12px;
    letter-spaicing: 0.24px;
  }
}
.contacts-link:hover, .contacts-link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link__svg {
  fill: #757575;
  margin-right: 10px;
}
.contacts-link:hover .contacts-link__svg {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 575px;
  height: 54px;
  margin: 0 auto 34px;
}
.filters__btn {
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  border: none;
  transition: transform 500ms ease;
}
.filters__btn:hover, .filters__btn:focus {
  background-color: #2196F3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
}
.filters__btn:hover:hover, .filters__btn:hover:focus, .filters__btn:focus:hover, .filters__btn:focus:focus {
  background-color: #2196F3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
}

.content {
  width: 1200px;
  margin: 94px auto;
}

.project-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-list__card {
  width: 370px;
  height: 404px;
  background: #fff;
  border: 1px solid #eeeeee;
  overflow: hidden;
  padding-bottom: 20px;
}
.project-list__card:nth-child(-n+6) {
  margin-bottom: 30px;
}
.project-list__thumb {
  width: 370px;
  height: 294px;
  margin-bottom: 20px;
  position: relative;
}
.project-list__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.project-list__card:hover .overlay {
  transform: translatey(0);
}
.project-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
}
.project-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translatey(-100%);
  transition: transform 1s ease;
}
.overlay__text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}

.footer .inner-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1199px) {
  .footer .inner-container {
    max-width: 768px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer .inner-container {
    max-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .footer .inner-container {
    min-width: 320px;
  }
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
  padding-left: 215px;
}
.footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-first {
  width: 231px;
  margin-right: 70px;
}
@media screen and (max-width: 1199px) {
  .footer-first {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.logo-link {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-link__footer {
  color: #2196F3;
  animation: colorweb 2s linear infinite;
}
.logo-link__studio {
  color: #fff;
  animation: colorstudio 2s linear infinite;
}

@keyframes colorstudio {
  0% {
    color: #2196f3;
  }
  100% {
    color: #ffffff;
  }
}
@keyframes colorweb {
  0% {
    color: #ffffff;
  }
  100% {
    color: #2196f3;
  }
}
address {
  font-style: normal;
}

.address-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 9px;
}

.contact-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-second {
  padding-top: 12px;
  width: 206px;
  margin-right: 93px;
}
@media screen and (max-width: 1199px) {
  .footer-second {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.footer-second__text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 206px;
}
.join-list__item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: transform 500ms ease;
}
.join-list__item:hover {
  background-color: #2196F3;
  transform: scale(1.1);
}
.join-list__social {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-third {
  padding-top: 12px;
  width: 570px;
}
@media screen and (max-width: 1199px) {
  .footer-third {
    padding: 0;
  }
}

.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1199px) {
  .footer-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
  }
}
.footer-form__label {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-right: 12px;
}
@media screen and (max-width: 1199px) {
  .footer-form__label {
    width: 450px;
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .footer-form__label {
    width: 100%;
  }
}
.footer-form__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-form__input {
    width: 450px;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .footer-form__input {
    width: 100%;
  }
}
.footer-form__input:hover {
  border: 1px solid #2196F3;
}
.footer-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding: 10px 28px;
}
@media screen and (max-width: 1199px) {
  .footer-form__btn {
    gap: 12px;
  }
}
.footer-form__subscribe {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}/*# sourceMappingURL=portfolio.css.map */