.clients .inner-container {
  @media screen  and (max-width:1199px){
    max-width: 768px;
}
@media screen  and (max-width:767px){
    max-width: 480px;
}
@media screen  and (max-width:480px){
    min-width: 320px;
    @media screen and (max-width:768px) {
      padding: 60px 0;
  }
}
}

.customers {
    padding: 94px 0;
    &__title {
      @media screen and (max-width:768px) {
        margin-bottom: 30px;
    }
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
      color: getcolor('title-text');
      margin-bottom: 50px;
    }
  }

  .customers-list {
    @include flex();
    width: 1170px;
    margin: 0 auto;
    &__item {
      @include flex(center);
      width: 170px;
      height: 92px;
      border: 1px solid getcolor('svg-text');
      border-radius: 4px;
      transition: transform 500ms ease;
      @media screen and (max-width:1199px) {
        width: calc((100% - 60px)/3);
    }
    @media screen and (max-width:767px) {
        width: calc((100% - 30px)/2);
    }
      &:hover {
        border: 1px solid getcolor('hover-text');;
        transform: scale(1.1);
      }
      &:hover .customers-list__icons {
        fill: getcolor('hover-text');
      }
    }
    
    &__icons {
      fill: getcolor('svg-text');
    }
    
  }

  