.content {
    width: 1200px;
    margin: 94px auto;
  }
  
  .project-list {
    @include flex($wrap: wrap);
    &__card {
      width: 370px;
      height: 404px;
      background: getcolor('white-text');
      border: 1px solid #eeeeee;
      overflow: hidden;
      padding-bottom: 20px;
      &:nth-child(-n+6) {
        margin-bottom: 30px;
      }
    }
    
    &__thumb {
      width: 370px;
      height: 294px;
      margin-bottom: 20px;
      position: relative;
    }
    &__img {
      width: 100%;
      height: 100%;
         object-fit: cover;
         object-position: center;
    }
    &__card:hover .overlay {
      transform: translatey(0);
    }
    
    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: getcolor('title-text');
      padding-left: 24px;
    }
    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: getcolor('just-text');
      padding-left: 24px;
    }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translatey(-100%);
    transition: transform 1s ease;
    &__text {
      color: getcolor('white-text');
      font-size: 18px;
      font-weight: 400;
      line-height: 1.55;
      letter-spacing: 0.54px;
    }
  }