%button{
    display: block;
    height: 50px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: getcolor('hover-text');
    color: getcolor('white-text');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.96px;
    cursor: pointer;
}